@import "../Utils/mixins";

.footer {
    background-color: $colour-footer;
    color: white;
    padding: 1rem;
    @include tablette-only {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    &__title {
        font-family: $font-header;
        font-size: 1.2rem;
    }
    &__menu {
        ul {
            @include tablette-only {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li a{
                    padding: 0 1rem;
                }
            }
                padding: 0;
                li {
                    padding: 0;
                    margin: 0.5rem 0;
                    a {
                        color: white;
                        font-size: 0.9rem;
                    }
                    i {
                        width: 1.5rem;
                    }
                }
        }
    }
}