.header__logo {
    text-align: center;
    position: relative;

    /* positionnement de la flèche retour */
        a{
            position: absolute;
            left: 1rem;
            top: 5%;
        }
        > img {
            width: 50%;
            max-width: $logo-max-width;
        }
}