.header__logo {
    text-align: center;
        a{
            position: absolute;
            left: 1rem;
            top: 1rem;
        }
        img {
            width: 50%;
            max-width: 300px;
        }
}