.card{
    &__img {
        height: 150px;
        overflow: hidden;
        position: relative;
            img{
                width: 110%;
                margin: 0;
                object-fit: contain;
                top: -50%;
                position: absolute;
            }
            p{
                position: absolute;
                top: 0%;
                right: 5%;
                background-color: $colour-tertiary;
                padding: 0.5rem;
                font-weight: 900;
            }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 1rem;
    }
    &__description {
        h4 {
            margin-top: 0.3rem;
            margin-bottom: 0.2rem;
            font-weight: 900;
            font-size: 1.1rem;
        }
        p {
            margin-top: 0.2rem;
            margin-bottom: 0.7rem;
        }
    }
    &__favorite {
        input {
            position: absolute;
            left: -9999px;
        }
        & label{
            cursor: pointer;
            position: relative;
            & .far {
                transition: opacity 250ms;
            }
            & .fas {
                opacity: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: opacity 250ms;
                color: $colour-primary;
            }
        }
        & input:checked + label .fas{
            opacity: 1;
        }
        & input:checked + label .far{
            opacity: 0;
        }
    }
}