$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-footer: #353535;
$colour-header: #F6F6F6;

$font-header: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

$max-width: 1290px;
$min-width: 350px;
$logo-max-width: 300px;

$count: 13;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $count *2;